<h1>Shot Times</h1>
{{#if shotTimes}}
<ul>
    {{#each shotTimes}}
    <li>
        {{!--Shot time details--}}
        <li>Drill: {{this.drillType}}</li>
        <ul>
            <li>Time: {{this.time}}</li>
            <li>React time: {{this.reactTime}}</li>
            <li>Date: {{this.date}}</li>
            <li>Splits: {{this.splits}}</li>
        </ul>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No shot times currently</p>
{{/if}}

<a href="/">Back to profile</a>